
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.gameContainer {
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}   
.scores { 
    grid-area: 1 / 1 / 2 / 8; 
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
}

.scores div { 
    height: 50px;
    width: 200px;
}


.you {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
    align-content: center;
	align-items: center;
}
.uScore {
    text-align: center;
    padding-top:35px;
}

.cpu {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
    align-content: center;
	align-items: center;
    margin-left:300px;
}
.cpuScore {
    text-align: center;
    padding-top:35px;
}

.battle { 
    grid-area: 2 / 1 / 6 / 8; 
    border-style: solid;
    display: flex; 
    flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
}

.battle #uWeapon, #cpuWeapon { 
    border-style: solid;
    height: 350px;
    width: 400px;
}

#vs { 
    border-style: solid;
    height: 350px;
    width: 200px;
}


.chooseWeapon { 
    grid-area: 6 / 1 / 8 / 8; 
    display: flex; 
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.chooseWeapon div { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
}

.chooseWeapon img { 
    height: 175px;
    width: 175px;
}